<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class='panel'>
			<div class="form-wrapper">
				<div class="formItem">
						<label>ContainerID is ：</label>
						<input class="" readonly="readonly" type="text" name="id" placeholder="" ng-model="id" />
				</div>
				<!--<div class="formItem">
						<label>Mes is  ：</label>
						<input class="log" name="id" placeholder="No Message" ng-model="mes" />
				</div>-->
				<div class="formItem">
						<label>Log is ：</label>
						<textarea class='log' rows="25" name="id" placeholder="No Log information" ng-model="log" />
				</div>	
			</div>
		</div>
	</body>
</html>
